version: '3.8'

services:
  db_dev:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
#    volumes:
#      - postgres_data_dev:/var/lib/postgresql/data

  redis: # Assuming you have a redis service
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

#volumes:
#  postgres_data_dev:
